html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* null margins and padding to give good cross-browser baseline */
html,body,address,blockquote,div,
form,fieldset,caption,
h1,h2,h3,h4,h5,h6,
hr,ul,li,ol,ul,
table,tr,td,th,p,img {
  margin:0;
  padding:0;
}

img, fieldset {
  border:none;
}

table {
  font-size:100%;
  line-height:150%;
}

/* begin style */

body {
	font-family: 'Segoe UI','Arial',sans-serif;
	background-color: #114;
	color: #fff;
}

body a{
	color: #ccc;
}

#header{
	padding: 1em 1.5em;
	border-bottom: 1px solid rgba(255,255,255,.4);
}

#header a{
	text-decoration: none;
	color: #fff;
	padding:0.1em 0.5em;
	border: 1px solid rgba(255,255,255,.3);
	border-radius: 8px;
}

h1{ display: inline-block; background: rgba(255,255,255,.1); border: none;}


#navbar{
	list-style: none;
	margin-top:1em;
	display: inline-block;
}

#navbar li{
	display: inline-block;
}
#centerstage, #footer{
	width: 100%;
}

#centerstage:after {
  content: "";
  display: table;
  clear: both;
}

#sidebar, #content {
	display: table-cell;
}

#sidebar{
	width: 12em;
	vertical-align: top;
	padding-top:1em;
	padding-left: 2em;
	padding-right: 2em;
	border-right: 1px solid rgba(255,255,255,.4);
	border-image: 
    linear-gradient(
      to bottom, 
      rgba(255,255,255,.4),
      rgba(255,255,255,0)
    ) 1 100%;
}

#search-bar{
	text-align: center;
	margin-bottom: 1em;
}

#search-tags{
	margin-bottom: 1em;
	text-align: left;
}

@keyframes cfadein {
  from {top: 8px; opacity:0;}
  to {top: 0px; opacity:1;}
}

#content{
	padding-right: 2em;
	padding-left: 2em;
	padding-top: 1em;
	position: relative;
	animation: cfadein .3s;
	
}

#sidebar li{
	margin-bottom: .25em;
	list-style: none;
}

#sidebar a{
	color: #cfc;
}
#list .list-entry {
	float: left;
	height: 18em;
	margin: .5em;
  white-space: nowrap;
	background-color: rgba(255,255,255,.1);
	border-radius: 10px;
	padding: .5em;
}

#list .list-entry a{
	text-decoration: none;
}

#list .list-entry-title{
	margin-top: .5em;
	color: #fff;
	opacity: 0.6;
	font-weight: 700;
}

#list .list-entry .img-wrapper{
	height: 100%;
}
#list .list-entry .img-spacer{
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
#list .list-entry img{
	vertical-align: middle;
	border: 1px solid red;
}

#list .list-entry-title{
	display: block;
	text-align: center;
}

#post-title, #post-description, #post-tags{
	padding-top: 1em;
}
#post-title{
	border-bottom: 1px solid rgba(255,255,255,0.4);
}
#post-tags li{
	list-style: none;
	padding-left: 1em;
	display: inline-block;
}
#post-tags a{
	color:white;
}

.warning, .confirmation{
	text-shadow: 1px 1px 2px black;
	padding: 0.5em;
	margin-bottom:1em;
	border-radius: 6px;
	width: 100%;
}

.warning {
	background-image: linear-gradient(#990606, #660606);
}

.confirmation {
	background-image: linear-gradient(#069906, #066606);
}

.std-form fieldset{
	display: table;
	margin-bottom:1em;
}

.std-form .form-row{
	display: table-row;
}

.std-form label, .std-form input, .std-form textarea{
	display: table-cell;
	vertical-align: text-top;
}

.std-form label{
	width: 8em;
	padding-bottom: 2em;
}
.std-form textarea{
	margin-bottom: 2em;
}

#post-img {
	width: 100%;
}

#post-stats {
	margin-bottom: 2em;
}

#post-stats ul {
	font-size: .9em;
}

#footer {
	padding: 1.5em;
	text-align: center;
	border-top: 1px solid rgba(255,255,255,.5);
	margin-top: 2em;
}
